<div class="container">
  <div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">
    <h2>お問い合わせを編集する</h2>
    <br>
    <%= render 'form' %>
    <br>
    <%= link_to "お問い合わせ一覧に戻る", contacts_path, class: 'btn btn-default' %>
  </div>
</div>