<div class="container">
  <div class="wrapper col-md-8 col-md-offset-2 col-sm-10">
　　<h2>お問い合わせを作成する</h2>
　　<br>
　　<%= render 'form' %>
　　<br>
    <%= link_to "お問い合わせ一覧に戻る", contacts_path, class: 'btn btn-default' %>
  </div>
</div>